/* File-wide variables */
:root {
    --primary-bg-color: #68f4a9;
    --secondary-bg-color: #0f3d6b;
    --spacing: 10px;
}

/* Font face implements */
@font-face {
    font-family: 'Josefin Slab';
    src: url('../fonts/JosefinSlab-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Josefin Slab';
    src: url('../fonts/JosefinSlab-Italic-VariableFont_wght.ttf');
    font-style: italic;
}

/* CSS attributes for background of app */
body{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: black;
    background-image: linear-gradient(
            to bottom,
            rgb(from var(--primary-bg-color) r g b / 50%),
            rgb(from var(--secondary-bg-color) r g b / 50%));
    background-attachment: fixed;
    font-family: 'Josefin Slab', serif;
}

/* Size/Alignment for intro text */
#intro-txt{
    font-size: 3.5rem;
    text-align: center;
    margin: 1rem auto;
}

/* Size/Alignment for search bar */
#search-bar-thingy{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 15px;
}

/* Size/Alignment for return bar */
#return-bar{
    min-width: 0;
    height: 60vh;
    width: auto;
    border: 1px solid;
    border-radius: 15px;
    margin: var(--spacing);
    overflow-y: scroll;
}

/* Size/Alignment for navigation area */
#nav-tools{
    margin-top: calc(var(--spacing) * 8);
    margin-left: var(--spacing);
    margin-right: calc(var(--spacing) * 2.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* CSS attributes for navigation items */
.nav-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 1em;
    gap: 25px;
}

/* CSS attributes for navigation items when hovered over */
.nav-items:hover {
    color: hsl(from #000000 h s calc(l + 10));
}

/* CSS attributes for navigation item text */
.nav-items p {
    margin: 0 0 0 0;
}

/* CSS attributes for navigation item text when hovered over */
.nav-items:hover p {
    color: hsl(20, 30%, 50%)
}