:root {
    --primary-bg-color: #68f4a9;
    --secondary-bg-color: #0f3d6b;
    --spacing: 10px;
}

@font-face {
    font-family: 'Josefin Slab';
    src: url('../fonts/JosefinSlab-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Josefin Slab';
    src: url('../fonts/JosefinSlab-Italic-VariableFont_wght.ttf');
    font-style: italic;
}

body{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: black;
    background-image: linear-gradient(
            to bottom,
            rgb(from var(--primary-bg-color) r g b / 50%),
            rgb(from var(--secondary-bg-color) r g b / 50%));
    background-attachment: fixed;
    font-family: 'Josefin Slab', serif;
}

#intro-txt{
    font-size: 3.5rem;
    text-align: center;
    margin: 1rem auto;
}

#return-bar{
    height: 60vh;
    width: auto;
    border: 1px solid;
    border-radius: 15px;
    margin-top: var(--spacing);
    margin-bottom: var(--spacing);
    padding: 15px;
}

#nav-tools{
    margin-top: calc(var(--spacing) * 4);
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 1em;
    gap: 25px;
}
.nav-items:hover {
    color: hsl(from #000000 h s calc(l + 10));
}
.nav-items p {
    margin: 0 0 0 0;
}
.nav-items:hover p {
    color: hsl(20, 30%, 50%)
}